/dts-v1/;
#include <dt-bindings/interrupt-controller/mips-gic.h>
#include <dt-bindings/clock/intel,grx500-clk.h>
#include <dt-bindings/pinctrl/intel,equilibrium.h>
#include <dt-bindings/input/input.h>
/*****************************************************************
** Include a chip configuration file
*****************************************************************/
#include "xrx500.dtsi"
/*****************************************************************
** Include a board configuration file
*****************************************************************/
#include "xrx500_anywan_bc_axepoint.dtsi"

/ {
	model = "EASY350 ANYWAN (GRX350) Axepoint Asurada model";
	compatible = "intel,easy350_anywan", "lantiq,grx500", "lantiq,xrx500";

	chosen {
		bootargs = "earlycon=lantiq,0x16600000 nr_cpus=4 nocoherentio clk_ignore_unused";

		stdout-path = "serial0";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x20000000 0x1e000000>;
	};

	ssx4@16000000 {
		localbus@0 {
			ranges = <0 0 0x1c00000 0xfffff>;
			nand-parts@0 {
				compatible = "gen_nand","lantiq,nand-xway";
				lantiq,cs = <1>;
				bank-width = <2>;
				reg = <0 0x0 0x100000>;
				#address-cells = <1>;
				#size-cells = <1>;
				nand-ecc-mode = "soft";
				nand-ecc-algo = "bch";
				nand-ecc-strength = <4>;
				nand-ecc-step-size = <512>;
				partition@0 {
					label = "uboot";
					reg = <0x000000 0x100000>;
				};
				
				partition@100000 {
					label = "ubootconfigA";
					reg = <0x100000 0x40000>;
				};
				
				partition@140000 {
					label = "ubootconfigB";
					reg = <0x140000 0x40000>;
				};
				
				partition@180000 {
					label = "gphyfirmware";
					reg = <0x180000 0x40000>;
				};

				partition@1c0000 {
					label = "calibration";
					reg = <0x1c0000 0x100000>;
				};

				partition@2c0000 {
					label = "system_sw";
					reg = <0x2c0000 0x7C00000>;
				};

				partition@7Ec0000 {
					label = "res";
					reg = <0x7EC0000 0x140000>;
				};
			};
		};
	};
};

&gsw_f24s {
	status = "disabled";
};

&usb0 {
	status = "disabled";
};

&usb0_phy {
	status = "disabled";
};

&usb1 {
	status = "disabled";
};

&usb1_phy {
	status = "disabled";
};

&ssc0 {
	/delete-node/ vcodec@5;
};

&ssc1 {
	status = "disabled";
};

&i2c {
	status = "disabled";
};

&ssogpio {
	status = "disabled";
};

&ssoled {
	status = "disabled";
};

&pcie_phy2 {
	status = "disabled";
};

&pcie0 {
	reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>; // default value, it can be updated on board.
};

&pcie2 {
	status = "disabled";
};

&usb0_vbus {
	status = "disabled";
};

&usb1_vbus {
	status = "disabled";
};

&pinctrl {
	/delete-node/ pinctrl_spi0_cs1;
	/delete-node/ pinctrl_spi1_cs0;
};

&cpu0 {
	/delete-property/ cpu-supply;
}; 

&lan5 {
	status = "disabled";
};

/ {

/******************************************************************************
** Board configuration: Enable buttons on the board.  
******************************************************************************/
	ltq_swreset {
		status = "disabled";
	};

	gpio-keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio0 0 1>;
			linux,code = <KEY_RESTART>;
		};
		wps {
			label = "wps";
			gpios = <&gpio0 11 1>;
			linux,code = <KEY_WPS_BUTTON>;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		power_led_green {
			label = "Power_LED_Green";
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		power_led_red {
			label = "Power_LED_Red";
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		act_led_green {
			label = "Act_LED_Green";
			gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		act_led_red {
			label = "Act_LED_Red";
			gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		cnv_led_green {
			label = "CNV_LED_Green";
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		cnv_led_red {
			label = "CNV_LED_Red";
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		24g_led_green {
			label = "24G_LED_Green";
			gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		24g_led_red {
			label = "24G_LED_Red";
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		5g_led_green {
			label = "5G_LED_Green";
			gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		5g_led_red {
			label = "5G_LED_Red";
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
		tv_led_green {
			label = "TV_LED_Green";
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
		tv_led_red {
			label = "TV_LED_Red";
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
/*****************************************************************************/
};


/******************************************************************************
** Model configuration: Select Gigabit or fast ethernet firmware to load to 
** internel GPHY.
******************************************************************************/
&phy_fw {
	status = "okay";
};

/******************************************************************************
** Board configuration: MEI setting might not be needed for VRX318
******************************************************************************/
/{
	mei@E116000 {
		compatible = "lantiq,mei-xrx300";
		reg = <0xE116000 0x100>;
		interrupts = <63>;
	};
};

/{
/******************************************************************************
** Model configuration: Select Gigabit or fast ethernet firmware to load to 
** internel GPHY.
** GE mode : 11G-FW
** FE mode : 22F-FW
******************************************************************************/
	gphy_fw: gphy-fw {
		compatible = "lantiq,xway-phy-fw";
		fw-mode = "11G-FW";
		no_of_phys = <5>;
	};
};
/*******************************************************************************/

/******************************************************************************
** Model configuration: Arrange specific FW to run on VPEs. 
******************************************************************************/
/* use CPU1 for voice firmware */
&cpu1 {
	default-OS = "VOICEFW";
};

/* use CPU3 for MPE firmware */
&cpu3 {
	default-OS = "MPEFW";
};

/******************************************************************************/


&cpu_opp_table {
        compatible = "operating-points-v2";
        opp-shared;

        opp@800000000 {
                opp-hz = /bits/ 64 <800000000>;
		opp-supported-hw = <0x00000041>;
						/* <target min max> */
		opp-microvolt-slow_default = <1100000 1000000 1200000>;
		opp-microvolt-not_defined = <1100000 1000000 1200000>;
		opp-microvolt-slow0 = <1100000 1000000 1200000>;
		opp-microvolt-slow1 = <1100000 1000000 1200000>;
		opp-microvolt-slow2 = <1100000 1000000 1200000>;
		opp-microvolt-slow3 = <1150000 1000000 1200000>;
		opp-microvolt-typ0  = <1050000 1000000 1200000>;
		opp-microvolt-typ1  = <1100000 1000000 1200000>;
		opp-microvolt-typ2  = <1050000 1000000 1200000>;
		opp-microvolt-typ3  = <1050000 1000000 1200000>;
		opp-microvolt-fast0 = <1000000 1000000 1200000>;
		opp-microvolt-fast1 = <1050000 1000000 1200000>;
		opp-microvolt-fast2 = <1000000 1000000 1200000>;
		opp-microvolt-fast3 = <1150000 1000000 1200000>;
        };

        opp@600000000 {
                opp-hz = /bits/ 64 <600000000>;
		opp-supported-hw = <0x00000041>;
		opp-microvolt-slow_default = <1100000 1000000 1200000>;
		opp-microvolt-not_defined = <1100000 1000000 1200000>;
		opp-microvolt-slow0 = <1100000 1000000 1200000>;
		opp-microvolt-slow1 = <1100000 1000000 1200000>;
		opp-microvolt-slow2 = <1100000 1000000 1200000>;
		opp-microvolt-slow3 = <1150000 1000000 1200000>;
		opp-microvolt-typ0  = <1050000 1000000 1200000>;
		opp-microvolt-typ1  = <1100000 1000000 1200000>;
		opp-microvolt-typ2  = <1050000 1000000 1200000>;
		opp-microvolt-typ3  = <1050000 1000000 1200000>;
		opp-microvolt-fast0 = <1000000 1000000 1200000>;
		opp-microvolt-fast1 = <1050000 1000000 1200000>;
		opp-microvolt-fast2 = <1000000 1000000 1200000>;
		opp-microvolt-fast3 = <1150000 1000000 1200000>;
        };

        opp@150000000 {
                opp-hz = /bits/ 64 <150000000>;
		opp-supported-hw = <0x00000041>;
		opp-microvolt-slow_default = <1100000 1000000 1200000>;
		opp-microvolt-not_defined = <1100000 1000000 1200000>;
		opp-microvolt-slow0 = <1100000 1000000 1200000>;
		opp-microvolt-slow1 = <1100000 1000000 1200000>;
		opp-microvolt-slow2 = <1100000 1000000 1200000>;
		opp-microvolt-slow3 = <1150000 1000000 1200000>;
		opp-microvolt-typ0  = <1050000 1000000 1200000>;
		opp-microvolt-typ1  = <1100000 1000000 1200000>;
		opp-microvolt-typ2  = <1050000 1000000 1200000>;
		opp-microvolt-typ3  = <1050000 1000000 1200000>;
		opp-microvolt-fast0 = <1000000 1000000 1200000>;
		opp-microvolt-fast1 = <1050000 1000000 1200000>;
		opp-microvolt-fast2 = <1000000 1000000 1200000>;
		opp-microvolt-fast3 = <1150000 1000000 1200000>;
        };
};

